script.
    async function post(url, objekt) {
        const respons = await fetch(url, {
            method: "POST",
            body: JSON.stringify(objekt),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (respons.status !== 201) // Created
            throw new Error(respons.status);
        return await respons.text();
    }

    let clickfunction = async(id) => {
            try {
                await post("http://localhost:4206/tilfoej", {id:id});
                window.location.href = "http://localhost:4206/index";
            } catch (e) {
                console.log("Fejl");
            }
        }

body
    h3
      Velkommen #{navn}!
    a(href="/logout")= "Log ud"
    h1 Shop
    table
        tr
            th name
            th price
        each shopItem in shopItems
            tr
                td #{shopItem.name}
                td #{shopItem.price}
                td
                    button(onclick='clickfunction("' + shopItem.id + '")') Add to cart

    h1 Cart
    table
        tr
            th name
            th price
        each cartItem in cart
            each shopItem in shopItems
                tr
                    if shopItem.id == cartItem
                        td #{shopItem.name}
                        td #{shopItem.price}
